<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}主页{% endblock %}
    {% block content %}
        <div class="container-fluid">
            <div class="col-lg-12">
        {% if request.session.is_login %}
        <h2>你好,{{ request.session.user_id }}！欢迎回来！</h2>
        {% if request.session.is_manager%}
        <h3>管理员信息</h3>
        <div style="display: flex;">
        <button type="button" class="btn btn-default btn-custom" id="btnShow_manager">显示</button>
        </div>
        <h3>学生信息</h3>
        <div style="display: flex;">
        <button type="button" class="btn btn-default btn-custom" id="btnShow_student">显示</button>
        </div>
        {% endif %}
        {% else %}
        <h2>你尚未登录，只能访问公开内容！</h2>
        {% endif %}
        <h3>书籍信息</h3>
        <div style="display: flex;">
        <button type="button" class="btn btn-default btn-custom" id="btnShow_book">显示</button>
        </div>
        {% if not request.session.is_manager%}
        <h3>借阅信息</h3>
        <div style="display: flex;">
        <button type="button" class="btn btn-default btn-custom" id="btnborrow_book">显示</button>
        </div>
        <h3>预定信息</h3>
        <div style="display: flex;">
        <button type="button" class="btn btn-default btn-custom" id="btnreserve_book">显示</button>
        </div>
        {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>